version: '3.9'
services:
  app:
    container_name: app
    build: ./app
    volumes:
      - ./app:/usr/src/app
    ports:
      - ${WEB_APP_PORT}:8081
    networks:
      - fullstack
    depends_on:
      - db

  db:
    container_name: db
    image: postgres:alpine
    ports:
      - ${DB_PORT}:5432
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./db-dump:/var/lib/postgresql/data
    networks:
      - fullstack

networks:
  fullstack:
    driver: bridge