version: '3.9'
services:
  app:
    container_name: app
    restart: always
    build: ./app
    volumes:
      - ./app:/usr/src/app
    ports:
      - ${WEB_APP_PORT}:8081
    environment:
      - HOST=&{DB_HOST}
      - PORT=${DB_PORT}
      - USER=${DB_USER}
      - PASSWORD=&{DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    networks:
      - fullstack
    depends_on:
      - db

  db:
    container_name: db
    image: postgres:alpine
    ports:
      - ${DB_PORT}:5432
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - ${DB_DATA}:/var/lib/postgresql/data
    networks:
      - fullstack

networks:
  fullstack:
    driver: bridge